<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Add a new company</title>
</head>
<body>
    <div class="container" layout:fragment="body">
        <h2 class="py-3">Add a new Company</h2>
        <form role="form" method="post" th:action="@{/create/company}" th:object="${company}">
            <input type="hidden" name="id" th:field="*{id}">
            <div class="mb-3">
                <label for="code" class="form-label">Company Code</label>
                <input type="text" class="form-control" id="code" name="code" th:field="*{code}">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Company Name</label>
                <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</body>
</html>